<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/headDetailProduct') %> 
  

<body>

  <%- include ('../partials/header') %> 

  <main>
    <div class="box_division">
        
                <p class="cantidad_vendida">Nuevo | 1500 vendidos</p>
                <h4 class="producto_venta"><%= product.name %> </h4>
                <button class="mas_vendido">Mas vendido</button>
                <span class="numero_1">stock</span>
      </div>
<hr>
       
      <div class="box1">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/products/<%= product.image  %>" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/products/<%= product.image  %>" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/products/<%= product.image  %>" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>

         
            
            <div class="p-detalles">
              <select name="cantidad" id="cantidad_1">
                <option value="1">cantidad</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="1">3</option>
                <option value="2">4</option>
                <option value="1">5</option>
                <option value="2">Mas de 5</option>
              </select>
            <p class="precio_anterior">$<%- toThousand(product.price) %></p>
            <p class="precio_2">$<%- toThousand(product.price - product.price * product.discount /100)  %>
              <span class="descuento_off"><%- product.discount !== 0 ? `${product.discount} % 0FF` : ""  %>
            </span></p>
            <P>En 6 cuotas sin interes de $316⁶⁶ Pagando con tarjetas Visa</P>
            <li class="linkacesso">ver medios de pago</li>
       
       
      


        <div>
            <i class="fa-solid fa-truck"></i>
            <span class="llegahoy">Llega Hoy </span>
            <span class="`precio_envio">$250</span>
            <p>comprando en las proximas 24hs</p>
            <li class="linkacesso">ver mas formas de entrega</li>
        </div>


        <div>
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <span class="dias">tenes 30 dias desde que lo recibis, puedes devolverlo desde tu correo mas
                cercano</span>
        </div>
<br>
        
        

        <div>
          <button class="ahora_comprar"><a href="/usuario/carrito">Comprar ahora</a></button>
            <button class="boton_agregaralcarrito">Agregar al carrito</button>
            
            
        </div>
        <div>
            <i class="fa-solid fa-shield"></i>
            <span class="protegida">compra protegida, recibi el producto que esperabas o te devolvemos el
                dinero.</span>
              </div>
      </div>   
           </div>
           <hr> 
           <details>
             <h6>DESCRIPCION</h6>
             <P class="descripcion">
               <%= product.description  %></P>
           </details>
              
<hr>





<section class="dos_caja">
  <h2>productos destacados:</h2>
  <section class="destacados">


</section>


    </main>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <%- include('../partials/footer') %> 

</body>

</html>