<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <link rel="stylesheet" href="/css/carrito.css"> 
     <script src="/js/carrito.js" defer></script>
        <%- include('../partials/head') %> 

    <title>Tienda</title>
</head>

<body>
    <%- include('../partials/header') %> 
    <main class="main-carrito">
        <div class="contenedor">
            <div class="detalle-pedido">
                <section class="section-pedidos">
                    <div class="info-pedido">
                        <p><b>Producto</b></p>
                        <p><b>Precio</b></p>
                        <p><b>Cantidad</b></p>
                        <p><b>Subtotal</b></p>
                        <p><b>Eliminar</b></p>
                    </div>
                    <hr>
                    <% products.forEach(product => { %>
                    <div class="producto-pedido" target="<%= product.id %>">
                        <img src="../../../images/products/<%= product.image %>" class="img-carrito-producto">
                        <p class="price" target="<%= product.price %>"><%- toThousand(product.price) %></p>
                        <select class="select-cantidad-de-productos" name="amount" id="">
                            <% for (let i= 1; i <= product.stock; i++) { %> 
                           <!--  <option value="0" selected="selected"></option> -->
                            <option value="<%= i %>"><%= i %></option>
                            <% } %> 
                        </select>
                        <p class="subtotal" target="<%= product.id %>"><%= product.price%></p>
                        <button class="delete" target="<%= product.id %>"><i class="fa-solid fa-trash"></i></button>                  
                    </div>
                    
                    <% }) %>  
                </section>

                <div class="botones-carrito">
                    <button class="boton-rosa" id="vaciar-carrito">Vaciar carrito</button>
                    <button class="boton-rosa"><a href="/">Seguir Mirando</a></button>
                </div>
            </div>

            <div class="detalle-subtotal">
                <section class="subtotal-section">
                    <div class="subtotal-div-info">
                        <h2><b>Mi compra</b></h2>
                        <p><b id="subTotal">Subtotal: $</b></p>
                        <button class="boton-rosa">Finalizar Compra</button>
                    </div>
                    
                </section>

            </div>

        </div> 

    </main>

    <%- include("../partials/footer")  %> 

</body>

</html>