<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/admin/headAdmin') %> 
</head>
<body>
    <%- include('../../partials/admin/headerAdmin') %> 

    <table>
        <caption>Lista general de categorias</caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th id="add"><a href="/admin/categoria/agregar">Agregar categoría</a></th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
              <tr>
                <th scope="row"><%= category.id %></th>
                <td>
                    <% if(locals && locals.categoryId && categoryId.id === category.id) { %> 
                    <form action="/admin/categoria/<%= categoryId.id %>?_method=PUT" method="post">
                        <input type ="text" name ="nombre" id="<%= category.id%> "value="<%= category.nombre %>" style="border-bottom: thin solid rgb(246, 87, 1);">
                        <button type="submit" id="ok">¿OK?</button>
                    </form>
                    <% } else { %>
                        <input type="text" value="<%= category.nombre %>" disabled>   
                    <% } %>  
                </td>                
                <td>
                  <a href="/admin/categoria/editar/<%= category.id  %>" class="btn btn-success">
                    <i id="edit" class="fa-solid fa-pen-to-square"></i>
                </a>
                  <form action="/admin/cateoria/<%= category.id %>?_method=DELETE" method="post">
                    <button class="erase" type="submit">
                      <i id="trash" class="fa-solid fa-trash-can"></i>
                    </button>
                  </form>
                </td>
              </tr>
            <% }) %>  
          </tbody>
    </table>
    <%- include('../../partials/admin/footerAdmin') %> 
</body>
</html>