<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head') %> 
    <script src="/js/index.js" defer></script>
    <script src="/js/homePeticion.js" defer></script>
<body>
    <%- include ('partials/header') %> 
    
    <main class="home">

        <%- include('partials/slider') %> 

        <%- include('partials/bannerMarcas') %> 

        <div class="titulo-seccion">  
            <h3 class="ofertas" data-context="Ofertas">Ofertas</h3>
        </div>
        <section>
            <% products.forEach(product=> { %>
                <% if (product.discount >= 1 ) { %>
                    <article>
                        <div class="img-producto">
                            <a href="/producto/detalle/<%= product.id  %>" class="image">
                                <img src="/images/products/<%= product.image  %>" alt="<%= product.name  %>">
                            </a>
                            <% if (product.discount> 0) { %>
                                <p class="sale-off">
                                    - <%= product.discount + '%' %>
                                </p>
                            <% } %>
                        </div>
                        <div class="product-description">
                            <p class="precio-discount">$<%- toThousand(product.price - product.price * product.discount /100)%>
                                <% if (product.discount > 0) {%>
                                    <span class="precio">$<%= toThousand(product.price)%></span>
                                    <% } %>
                                </p>
                                <p class="name"><%- product.name %></p>
                                <div class="actions">
                                    <p>Añadir</p>
                                    <i class="fa-solid fa-heart"></i>
                                    <button class="agregar" target="<%= product.id %>">
                                        <i class="fa-solid fa-cart-plus"></i>
                                    </button>
                        </div>
                    </article>
                <% } %>
            <% }) %>
        </section>
        <div class="titulo-seccion">
            <h3 class="destacados">Productos destacados</h3>
        </div>
        <section>
            <% products.forEach(product=> { %>
                <% if (product.discount == 0 ) { %>
                    <article>
                        <div class="img-producto">
                            <a href="/producto/detalle/<%= product.id  %>" class="image">
                                <img src="/images/products/<%= product.image  %>" alt="<%= product.name  %>">
                            </a>
                            <% if (product.discount> 0) { %>
                                <p class="sale-off">
                                    - <%= product.discount + '%' %>
                                </p>
                            <% } %>
                        </div>
                        <div class="product-description">
                            <p class="precio-discount">$<%- toThousand(product.price - product.price * product.discount /100)%>
                                <% if (product.discount > 0) {%>
                                    <span class="precio">$<%= toThousand(product.price)%></span>
                                    <% } %>
                                </p>
                                <p class="name"><%- product.name %></p>
                                <div class="actions">
                                    <p>Añadir</p>
                                    <i class="fa-solid fa-heart"></i>
                                    <button class="agregar" target="<%= product.id %>">
                                        <i class="fa-solid fa-cart-plus"></i>
                                    </button>
                                </div>
                        </div>
                    </article>
                <% } %>
            <% }) %>
        </section>

        <div class="titulo-seccion">
            <h3>Categorias populares</h3>
        </div>
        <section class="categorias">
            <div class="img-link">
                <img src="/images/Bicicletas.png" alt="Categotia bicicletas">
                <span><a href="/">Bicicletas</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Kids.png" alt="Categoria Kids">
                <span><a href="/">Kids</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Repuestos.png" alt="Categoria repuestos">
                <span><a href="/">Repuestos</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Accesorios.png" alt="Categoria accesorios">
                <span><a href="/">Accesorios</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Indumentaria.png" alt="Categoria indumentaria">
                <span><a href="/">Indumentaria</a></span>
            </div>
        </section>

        <section id="info__ubications">
            <div class="ubications">
                <div><h4>Visita nuestras sucursales</h4></div>
                <ul>
                    <li class="sucursal__name">
                        <i class="fa-solid fa-location-dot"></i> Sucursal Retiro
                    </li>
                    <li class="sucursal__name">
                        <i class="fa-solid fa-location-dot"></i> Sucursal Nuñez
                    </li>
                    <li class="sucursal__name">
                        <i class="fa-solid fa-location-dot"></i> Sucursal Lugano
                    </li>
                </ul>
            </div>
            <div id="map"></div>
        </section>


    </main>
    
    <%- include ('partials/footer') %>
    <script src="../js/googleMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</body>
</html>