<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head') %> 

<body>
    <%- include ('partials/header') %> 
    
    <main class="home">
        <div class="banner">
            <img src="/images/Banner-1.png" alt="banner">
            <button class="ver-mas"><a href="/">Ver más</a></button>
        </div>
        <div class="titulo-seccion">  
            <h3>Ofertas</h3>
        </div>
        <section>
            <% products.forEach(product => { %>			 
                <article>
                <div class="img-producto">
                    <a href="/detalle/<%- product.id  %>" class="image"><img src="/images/products/<%= product.image  %>" alt="<%= product.name  %>"></a>                   
                    <% if (product.discount > 0) { %>
                        <p class="sale-off"><%= product.discount + '% 0FF'%></p>
                    <% } %>
                </div>
                <div class="product-description">
                    <p class="precio-discount">$<%- toThousand(product.price - product.price * product.discount /100)%>
                        <% if (product.discount > 0) {%> 
                        <span class="precio">$<%= toThousand(product.price)%></span>
                        <% } %> 
                    </p>
                    <p><%- product.name %> </p>
                </div>
                </article> 
            <% }) %>
        </section>
        <div class="titulo-seccion">
            <h3>Productos destacados</h3>
        </div>
        <section>
            <% products.forEach(product => { %>			 
                <article>
                <div class="img-producto">
                    <a href="/detalle/<%- product.id  %>" class="image"><img src="/images/products/<%= product.image  %>" alt="<%= product.name  %>"></a>                   
                    <% if (product.discount > 0) { %>
                        <p class="sale-off"><%= product.discount + '% 0FF'%></p>
                    <% } %>
                </div>
                <div class="product-description">
                    <p class="precio-discount">$<%- toThousand(product.price - product.price * product.discount /100)%>
                        <% if (product.discount > 0) {%> 
                        <span class="precio">$<%= toThousand(product.price)%></span>
                        <% } %> 
                    </p>
                    <p><%- product.name %> </p>
                </div>
                </article> 
            <% }) %>
        </section>
        <div class="titulo-seccion">
            <h3>Categorias populares</h3>
        </div>
        <section class="categorias">
            <div class="img-link">
                <img src="/images/Bicicletas.png" alt="Categotia bicicletas">
                <span><a href="/">Bicicletas</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Kids.png" alt="Categoria Kids">
                <span><a href="/">Kids</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Repuestos.png" alt="Categoria repuestos">
                <span><a href="/">Repuestos</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Accesorios.png" alt="Categoria accesorios">
                <span><a href="/">Accesorios</a></span>
            </div>
            <div class="img-link">
                <img src="/images/Indumentaria.png" alt="Categoria indumentaria">
                <span><a href="/">Indumentaria</a></span>
            </div>
        </section>
    </main>

    <%- include ('partials/footer') %> 

</body>
</html>