<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/admin/headAdmin') %> 
<body>

  <%- include('../partials/admin/headerAdmin') %> 

    <main>
       
        <table>
            <caption>Lista general de productos</caption>
            <caption>Total de productos: <%= products.length %></caption>
            <thead>
                <tr>
                    <th scope="col" class="no-mobile">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col" class="no-mobile">Marca</th>
                    <th scope="col" >
                      <nav id="category">
                        <input type="checkbox" id="menu" class="botton">
                        <label for="menu">Categoria▼</i></label>
                        <ul id="">
                            <li id=""><a href="/Admin/categoria/4" id="">Accesorios</a></li>
                            <li id=""><a href="/Admin/categoria/1" id="">Bicicletas</a></li>
                            <li id=""><a href="/Admin/categoria/6" id="">Herramientas</a></li>
                            <li id=""><a href="/Admin/categoria/5" id="">Indumentaria</a></li>
                            <li id=""><a href="/Admin/categoria/3" id="">Repuestos</a></li>
                        </ul>
                         
                      </th>
                    <th scope="col" class="colum-price">Precio</th>
                    <th scope="col" class="colum-stock">Stock</th>
                    <th scope="col" class="no-mobile">Descuento</th>
                    <th scope="col">Imagen</th>
                    <th id="add"><a href="/admin/producto/agregar">Agregar Producto</a></th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                  <tr id="<%= product.id %>">
                    <th scope="row" class="no-mobile"><%= product.id %></th>
                    <td><%= product.name %></td>
                    <td class="no-mobile"><%= product.marca %></td>
                    <% let categoryName = categories.find(category => category.id === product.categoryid)%>
                    <td><%= categoryName.nombre%></td>
                    <td class="colum-price">$<%- toThousand(product.price) %></td>
                    <td class="colum-stock"><%= product.stock %></td>
                    <td class="no-mobile"><%- product.discount === ""? product.discount = 0 + "%" :`${product.discount}%`%></td>
                    <td class="img__cell"><img src="../../../images/products/<%= product.image %>" alt="" class="imgProduct"></td>
                    
                    <td class="actions__buttons">
                      <a href="/admin/producto/editar/<%= product.id  %>" class="btn btn-success">
                        <i id="edit" class="fa-solid fa-pen-to-square"></i>
                      </a>
                      <form action="/admin/<%= product.id %>?_method=DELETE" method="post">
                        <button class="erase" type="submit">
                          <i id="trash" class="fa-solid fa-trash-can"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                <% }) %>  
              </tbody>
        </table>
    </main>

    <%- include('../partials/admin/footerAdmin')  %> 

</body>
</html>