<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/admin/headAdmin') %> 

<body>
    
    <%- include('../partials/admin/headerAdmin')  %> 

    <main>
        <h2 class="titulo">Editar: <%= product.name %> </h2>            
        <div class="register">
            <form id="formulario" class="form-register" action="/admin/producto/editar/<%= product.id %>?_method=PUT" method="POST" class="form-register" enctype="multipart/form-data">
                    <div class="register-input">
                        <label for="name">Nombre de producto</label>
                        <input type="text" name="name" id= "name" class="input-style"placeholder="Ingrese nombre de producto" value="<%= (locals.old && old.name)? old.name : product.name %> ">
                        <% if(locals.errors && errors.name) { %>
                            <small class="alert-msg"><%= errors.name.msg %></small>
                        <% } %>  
                        <SMall class="alert-msg" id="inputNameError"></SMall>
                    </div>
                    <div class="register-input">
                        <label for="marca">Marca</label>
                        <input type="text" name="marca" id="marca" class="input-style"placeholder="Ingrese marca" value="<%= (locals.old && old.marca)? old.marca : product.marca %> ">
                        <SMall class="alert-msg" id="inputMarcaError"></SMall>
                    </div>
                    <div class="register-input">
                        <label for="price">Precio</label>
                        <input type="number" name="price" id="price" class="input-style" placeholder="Ingrese precio" value="<%= (locals.old && old.price)? old.price : product.price %>">
                        <% if(locals.errors && errors.price) { %>
                            <small class="alert-msg"><%= errors.price.msg %></small>
                        <% } %>
                        <SMall class="alert-msg" id="inputPriceError"></SMall>  
                    </div>
                    <div class="register-input">
                        <label for="stock">Stock</label>
                        <input type="text" name="stock" id="stock" class="input-style" placeholder="cantidad de stock" value="<%= (locals.old && old.stock)? old.stock : product.stock %>">
                        <% if(locals.errors && errors.stock) { %>
                            <small class="alert-msg"><%= errors.stock.msg %></small>
                        <% } %>  
                        <SMall class="alert-msg" id="inputStockError"></SMall> 
                    </div>
                    <div class="register-input">
                        <label for="discount">Descuento</label>
                        <input type="number" name="discount" id="discount" class="input-style" value="<%= (locals.old && old.discount)? old.discount : product.discount %>">
                        <% if(locals.errors && errors.discount) { %>
                        <small class="alert-msg"><%= errors.discount.msg %></small>
                        <% } %>  
                        <SMall class="alert-msg" id="inputDiscountError"></SMall> 
                    </div>
                    <div class="register-input">
                        <label for="categoryid">Categoria</label>
                        <select name="categoryid" id="select" class="input-style">
                            <option value="0" selected hidden>Elija una categoría</option>
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %> "><%= category.nombre %></option>
                            <% }) %> 
                        </select>
                        <% if(locals.errors && errors.categoryid) { %>
                            <small class="alert-msg"><%= errors.categoryid.msg %></small>
                        <% } %>  
                        <SMall class="alert-msg" id="inputSelectError"></SMall> 
                    </div>
                    <div class="register-input">
                        <label for="image">Subir imagen</label>
                        <div class="img-container" id="img-preview">
                        </div>
                        <input type="file" id="image" name="image" value="<%= product.image %>">
                        <small class="alert-msg" id="inputImageError"></small> 
                    </div>

                  <div class="load-image">
                        <div id="avatar-user" class="user-image"><img src="../../../images/profile/<%-producto.imagen %>" alt="Imagen por defecto"></div>
                        <div class="avatar-input">
                            <label for="avatar">Seleccione imagen de perfil</label>
                            <input type="file" name="avatar" id="inputAvatar" accept=".jpg, .jpeg, .png">
                            <small id="avatarError" class="text-danger"></small>
                        </div>
                    </div> 
                    <div class="register-input">
                        <label for="description">Detalles</label>
                        <textarea type="description" name="description" id="description" cols="30" rows="3"><%= (locals.old && old.description)? old.description : product.description %></textarea>
                        <% if(locals.errors && errors.description) { %>
                            <small class="alert-msg"><%= errors.description.msg %></small>
                        <% } %> 
                        <SMall class="alert-msg" id="inputDescriptionError"></SMall> 
                    </div> 
            <div class="btn_register">
                 <button type="submit" class="btn-submit_register">Guardar Cambios</button>
                 <span class="admin"><a class="admin" href="/admin">Volver</a></span>
                 <SMall class="alert-msg" id="submitError"></SMall> 
                </div>
             </form>
        </div>
    </main>
    <footer> 

        <ul class="social_icon">
            <li><a href="https://www.facebook.com/">
                    <ion-icon name="logo-facebook">
                        </ion-icon.com>
                </a></li>
            <li><a href="https://twitter.com/?lang=es">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
            <li><a href="https://www.instagram.com/?hl=es-la">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            <li><a href="https://www.youtube.com/">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a></li>
    
        </ul>
        <ul class="menu">
            <li><a href="https://www.mercadopago.com.ar/">MercadoPago</a></li>
            <li><a href="https://www.masterconsultas.com.ar/"> Master Card</a></li>
            <li><a href="https://www.visa.com.ar/">Visa</a></li>
            <li><a href="https://www.e-pagofacil.com/">PagoFacil</a></li>
        </ul>
        <p>Comision 13 - Grupo 11 - &#169; Derechos Reservados.</p>
    </footer>
    <script src="/js/editproductValidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
</body>
</html>