<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/adminIndex.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="/images/logo-2.svg" alt="logo-Bikes">
        </div>
        <div class="div-titulo">
            <h2>Administrador</h2>
        </div>
    </header>

    <main>
        <div class="register">
            <h2 class="titulo">Editar Producto:<%= product.name  %></h2>            
            <form action="/admin/editproduct/<%= product.id %>?_method=PUT" method="POST" class="form-register">
                    <div class="register-input">
                        <label for="name">Nombre de producto</label>
                        <input type="name" name="name" class="input-style"placeholder="Ingrese nombre de producto" value="<%= product.name  %>">
                    </div>
                    <div class="register-input">
                        <label for="marca">marca</label>
                        <input type="marca" name="marca" class="input-style"placeholder="Ingrese marca" value="<%= product.marca  %>">
                    </div>
                    <div class="register-input">
                        <label for="price">Precio</label>
                        <input type="price" name="price" class="input-style"placeholder="Ingrese precio" value="<%= product.price  %>">
                    </div>
                    <div class="register-input">
                        <label for="stock">Stock</label>
                        <input type="stock" name="stock" class="input-style"placeholder="Cantidad de stock" value="<%= product.stock  %>">
                    </div>
                    <div class="register-input">
                        <label for="discount">Descuento</label>
                        <input type="discount" name="discount" class="input-style" value="<%= product.discount  %>">
                    </div>
                    <div class="register-input">
                        <label for="categoryId">category</label>
                        <input type="text" name="categoryId" class="input-style" value="<%= product.description  %>">
                    </div>
                    <div class="register-input">
                        <label for="file">subir archivo</label>
                        <input type="file" name="file">

                    </div>
                    <div class="register-input">
                        <label for="description">Detalles</label>
                        <textarea type="description" name="description" id="" cols="30" rows="3"><%= product.description  %></textarea>
                    </div>
           
            <div class="btn_register">
                 <button type="submit" class="btn-submit_register">Guardar Cambios</button>
                 <span class="admin"><a href="/admin">Admin</a></span>
            </div>
             </form>
        </div>
    </main>
    <footer> 

        <ul class="social_icon">
            <li><a href="https://www.facebook.com/">
                    <ion-icon name="logo-facebook">
                        </ion-icon.com>
                </a></li>
            <li><a href="https://twitter.com/?lang=es">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
            <li><a href="https://www.instagram.com/?hl=es-la">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            <li><a href="https://www.youtube.com/">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a></li>
    
        </ul>
        <ul class="menu">
            <li><a href="https://www.mercadopago.com.ar/">MercadoPago</a></li>
            <li><a href="https://www.masterconsultas.com.ar/"> Master Card</a></li>
            <li><a href="https://www.visa.com.ar/">Visa</a></li>
            <li><a href="https://www.e-pagofacil.com/">PagoFacil</a></li>
        </ul>
        <p>Comision 13 - Grupo 11 - &#169; Derechos Reservados.</p>
    </footer>
</body>
</html>