<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion de perfil</title>
    <link rel="stylesheet" href="../../../css/register.css">
</head>
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <div class="register">
        <div id="head-logo">
            <h2>Edicion de perfil: <%= session.user.name %> </h2>
        </div>
        <form class="form-register" action="/usuario/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="register-input">
                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="name" class="input-style" placeholder="Ingrese su nombre" value="<%= user.name %>">
            </div>
            <div class="register-input">
                <label for="name">Nombre de usuario</label>
                <input type="text" name="nickname" id="name" class="input-style" placeholder="Ingrese un nombre de usuario" value="<%= (locals.session && session.user)? session.user.nickname : ""%>">
            </div>
            <div class="register-input">
                <label for="num">Número de celular</label>
                <input type="num" name="telefono" id="telefono" class="input-style" placeholder="Ingrese su número" value="<%= user.num %>">
            </div>
            <div class="register-input">
                <label for="direction">Provincia</label>
                <input type="text" name="direction" id="direction" class="input-style" placeholder="Ingrese su provincia" value="<%= (locals.user && user.direction)? user.direction : "" %>">
            </div>
            <div class="register-input">
                <label for="direction">Localidad</label>
                <input type="text" name="direction" id="direction" class="input-style" placeholder="Ingrese su localidad" value="<%= (locals.user && user.direction)? user.direction : "" %>">
            </div>
            <div class="register-input">
                <label for="direction">Ciudad</label>
                <input type="text" name="direction" id="direction" class="input-style" placeholder="Ingrese su ciudad" value="<%= (locals.user && user.direction)? user.direction : "" %>">
            </div>
            <div class="register-input">
                <label for="direction">Ingrese su direccion</label>
                <input type="text" name="direction" id="direction" class="input-style" placeholder="Ingrese una dirección" value="<%= (locals.user && user.direction)? user.direction : "" %>">
            </div>
            <div class="register-input">
                <label for="direction">Código postal</label>
                <input type="text" name="direction" id="direction" class="input-style" placeholder="Código postal" value="<%= (locals.user && user.direction)? user.direction : "" %>">
            </div>
            <div class="register-input">
                <label for="avatar">Seleccione imagen de perfil</label>
                <input type="file" name="avatar">
            </div>
            <div class="btn_register">
                <button class="btn-submit_register" type="submit">Guardar cambios</button>
            </div>
        </form>
        </div>
    </main> 

    <%- include('../partials/footer') %> 
</body>
</html>