<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %> 
    
</head>
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <div class="register profile__register">
        <div id="head-logo">
            <h2><%= session.user.name %> </h2>
        </div>
        <form id="formulario__profile" class="form-register edit__profile" action="/usuario/perfil/<%= session.user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="load-image">
                <div id="avatar-user" class="user-image"><img src="../../../images/profile/<%= user.avatar %> " alt="Imagen por defecto"></div>
                <div class="avatar-input">
                    <label for="avatar">Seleccione imagen de perfil</label>
                    <input type="file" name="avatar" id="inputAvatar" accept=".jpg, .jpeg, .png">
                    <small id="avatarError" class="text-danger"></small>
                </div>
            </div>
            <div class="input__fields">
                <div class="register-input">
                    <label for="name">Nombre y apellido</label>
                    <input type="text" name="name" id="inputName" class="input-style" placeholder="Ingrese su nombre" value="<%= (locals.old && old.name)? old.name : user.name %>">
                    <small id="errorName" class="text-danger"><%= (locals.errors && errors.name)? errors.name.msg : "" %> </small>
                </div>
                <div class="register-input">
                    <label for="telefono">Número de celular</label>
                    <input type="number" name="telefono" id="telefono" class="input-style" placeholder="Ingrese su número" value="<%= (locals.old && old.telefono)? old.telefono : user.telefono %>">
                    <small id="errorTelefono" class="text-danger"><%= (locals.errors && errors.telefono)? errors.telefono.msg : "" %></small>
                </div>
                <div class="btn_register">
                    <button class="btn-submit_register" type="submit">Guardar cambios</button>
                    <span class="admin"><a class="admin" href="/usuario/perfil/<%= session.user.id %> ">Volver</a></span>
                </div>
            </div>
        </form>
        </div>
    </main> 

    <%- include('../partials/footer') %>

    <script src="../../../js/editProfileValidation.js"></script>
</body>
</html>