<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %> 
    
</head>
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <div class="register">
        <div id="head-logo">
            <h2>Edicion de perfil: <%= session.user.name %> </h2>
        </div>
        <form id="formulario" class="form-register" action="/usuario/perfil/<%= session.user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="load-image">
                <div id="avatar-user" class="user-image"><img src="../../../images/profile/<%= user.avatar %> " alt="Imagen por defecto"></div>
                <div class="avatar-input">
                    <label for="avatar">Seleccione imagen de perfil</label>
                    <input type="file" name="avatar" id="inputAvatar" accept=".jpg, .jpeg, .png">
                    <small id="avatarError" class="text-danger"></small>
                </div>
            </div>
            <div class="register-input">
                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="inputName" class="input-style" placeholder="Ingrese su nombre" value="<%= (locals.old && old.name)? old.name : user.name %>">
                <small id="errorName" class="text-danger"><%= (locals.errors && errors.name)? errors.name.msg : "" %> </small>
            </div>
            <div class="register-input">
                <label for="telefono">Número de celular</label>
                <input type="number" name="telefono" id="telefono" class="input-style" placeholder="Ingrese su número" value="<%= (locals.old && old.telefono)? old.telefono : user.telefono %>">
                <small id="errorTelefono" class="text-danger"><%= (locals.errors && errors.telefono)? errors.telefono.msg : "" %> </small>
            </div>
            <div class="btn_register">
                <button class="btn-submit_register" type="submit">Guardar cambios</button>
                <span class="admin"><a class="admin" href="/usuario/perfil/<%= session.user.id %> ">Volver</a></span>
            </div>
        </form>
        </div>
    </main> 

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="../../../js/addDirectionValidation.js"></script>
</body>
</html>