<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %> 
    
</head>
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <div class="register">
        <div id="head-logo">
            <h2>Edicion de perfil: <%= session.user.name %> </h2>
        </div>
        <form class="form-register" action="/usuario/perfil/<%= session.user.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="register-input">
                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="name" class="input-style" placeholder="Ingrese su nombre" value="<%= (locals.old && old.name)? old.name : user.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %> </small>
                <% } %>
            </div>
            <div class="register-input">
                <label for="telefono">Número de celular</label>
                <input type="number" name="telefono" id="telefono" class="input-style" placeholder="Ingrese su número" value="<%= (locals.old && old.telefono)? old.telefono : user.telefono %>">
                <% if (locals.errors && errors.telefono) { %>
                    <small class="text-danger"><%= errors.telefono.msg %> </small>
                <% } %>
            </div>
            <div class="register-input">
                <label for="avatar">Seleccione imagen de perfil</label>
                <input type="file" name="avatar" id="avatar" value="">
            </div>
            <div class="btn_register">
                <button class="btn-submit_register" type="submit">Guardar cambios</button>
            </div>
        </form>
        </div>
    </main> 

    <%- include('../partials/footer') %> 
</body>
</html>