<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Footer scripts -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/adc0842e66.js" crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <%- include('../partials/headRegister')  %>
    
</head>
<body class="forms">
    <%- include('../partials/header')  %>
    <!-- <div class="logo-img">
        <a href="/"><img src="/images/logo-2.svg" alt="logo" class="logo"></a>
    </div> -->
    <section class="form-container login">
        <h2>Login</h2>
        <hr>
        <form action="/login" method="POST">
            <div class="google">
                <button class="boton-google">Iniciar sesión con Google <span><img class="google-logo" src="/images/icons8-logo-de-google.svg" alt="google.img" ></span></button>
            </div>
            <div class="input-container">
                <input type="email" class="input-style" name="email" id="email  " placeholder="Ingrese su email">
                <% if (locals.errors && errors.custom) { %>
                    <small class="text-danger"><%= errors.custom.msg %></small>
                <% } %>
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="password" id="password" placeholder="Ingrese una contraseña">
                <% if (locals.errors && errors.password) { %>
                    <small class="text-danger"><%= errors.password.msg %></small>
                <% } %>
            </div>
            <div class="input_check-container">
                <span><a href="register.html">¿Olvidaste la contraseña? Click aquí </a></span>
                <br>
                <label for="recordar"><a href=""></a>
                <input type="checkbox" name="recordar" id="recordar">Recordarme</label>
                <span class="error-message">
                    
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-submit">Iniciar sesion</button>
                </div>
                <span><a href="/registrarse">No tengo cuenta</a></span>
        </form>
    

    </section>
    <%- include('../partials/footer') %> 
</body>
</html>