<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %> 
    
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <article class="user-profile">
                <div class="image-profile">
                    <img src="../../../images/profile/<%= user.avatar %>" alt="Foto de perfil">
                </div>
            <div class="detail">
                <div class="edit-button">
                    <button class="button"><a href="/usuario/perfil/editar/<%= session.user.id %> ">Editar perfil</a></button>
                </div>
                <ul class="user-detail">
                    <li><span><i class="fa-solid fa-user"></i> <p>Nombre: </p></span><%= user.name %> </li>
                    <li><span><i class="fa-solid fa-envelope-open"></i> <p>Email: </p></span><%= user.email %> </li>
                    <li><span><i class="fa-solid fa-phone"></i> <p>Telefono: </p></span><%= (user.telefono)? user.telefono : "Agregue un teléfono" %></li>
                </ul>
                <div class="direction__details">
                    <h3><i class="fa-solid fa-location-dot"></i> Mi dirección</h3>
                    <ul class="user-detail">
                        <li><p>Dirección: </p><%= locals && locals.direccion? `${direccion.direccion} ${direccion.altura}` : "" %></li>
                        <li><p>Localidad: </p><%= locals && locals.direccion? direccion.localidad : ""%> </li>
                        <li><p>Provincia: </p><%= locals && locals.direccion? direccion.provincia : ""%> </li>
                    </ul>
                    <% if (locals && locals.direccion) { %> 
                    <div class="edit-button">
                        <button class="button"><a href="/usuario/perfil/editar/direccion/<%= session.user.id %> ">Editar dirección</a></button>
                    </div>
                    <% } else { %>
                        <div class="edit-button">
                            <button class="button"><a href="/usuario/perfil/agregar/direccion/<%= session.user.id %> ">Añadir dirección</a></button>
                        </div>
                    <% } %> 
                </div>
                <!-- <div class="edit-button">
                    <button class="button"><a href="/admin/usuarioadmin">Quiero Vender</a></button>
                </div> -->
            </div>
        </article>
        <div class="user-products" id="div-profile">
            <h2>Mis Compras</h2>
             <% compras.forEach(item=> { %>
                    
                <% Productos.forEach(product=> { %>
                    <% if (product.id == item.product_id) {%>
            <div class="recent-product">
               
                <div class="image-product">
                    <img src="../../../images/products/<%= product.image  %>" alt="">
                </div>
                <div class="product-detail">
                    <p>Nombre: <%- product.name %></p>
                    <p>Precio: $<%= toThousand(product.price)%></p>
                    <p>Detalle: <%= product.description %></p>
                </div>

            
            </div>
             
        <% } %>
            <% }) %>
            
            <% }) %>
        </div>
           
    </main> 

    <%- include('../partials/footer') %> 
   
</body>
</html>