<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/userProfile.css">
    <link rel="stylesheet" href="../../../css/Header.css">
    <link rel="stylesheet" href="../../../css/footer.css">
</head>
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <article class="user-profile">
                <div class="image-profile">
                    <img src="../../../images/profile/<%= session.user.avatar %>" alt="Foto de perfil">
                </div>
            <div class="detail">
                <div class="edit-button">
                    <button class="button"><a href="/usuario/edit/<%= session.user.id %> ">Editar perfil</a></button>
                </div>
                <ul class="user-detail">
                    <li>Usuario: <%= session.user.nickname %> </li>
                    <li>Nombre: <%= session.user.name %> </li>
                    <li>Email: <%= session.user.email %> </li>
                    <li>Dirección: <%= (locals.user && user.direction)? user.direction : "Agregue una dirección"%> </li>
                    <li>Celular: <%= (locals.user && user.telefono)? user.telefono : "Agregue un teléfono" %> </li>
                </ul>
            </div>
        </article>
        <div class="user-products">
            <h2>Mis productos</h2>
            <div class="recent-product">
                <div class="image-product">
                    <img src="../../../images/products/product-default-4.png" alt="">
                </div>
                <div class="product-detail">
                    <p>Nombre: Frenos</p>
                    <p>Precio: $$$$$$</p>
                    <p>Detalle: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, reiciendis!</p>
                </div>
            </div>
            <div class="recent-product">
                <div class="image-product">
                    <img src="../../../images/products/product-default-4.png" alt="">
                </div>
                <div class="product-detail">
                    <p>Nombre: Frenos</p>
                    <p>Precio: $$$$$$</p>
                    <p>Detalle: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, reiciendis!</p>
                </div>
            </div>
            <div class="recent-product">
                <div class="image-product">
                    <img src="../../../images/products/casco.jpg" alt="">
                </div>
                <div class="product-detail">
                    <p>Nombre: Frenos</p>
                    <p>Precio: $$$$$$</p>
                    <p>Detalle: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, reiciendis!</p>
                </div>
            </div>
            <div class="recent-product">
                <div class="image-product">
                    <img src="../../../images/products/product-default-4.png" alt="">
                </div>
                <div class="product-detail">
                    <p>Nombre: Frenos</p>
                    <p>Precio: $$$$$$</p>
                    <p>Detalle: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, reiciendis!</p>
                </div>
            </div>
        </div>
    </main> 

    <%- include('../partials/footer') %> 
</body>
</html>